In [1]:
import os

In [2]:
os.getcwd()

'/Users/Arunabh/Desktop/untitled folder'

In [3]:
import pandas as pd

In [4]:
df =pd.read_csv("gapminder (1).csv")

In [5]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

In [6]:
df.drop(["Region"], 1, inplace = True)

In [7]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2

In [8]:
df.shape

(139, 9)

In [9]:
df.isnull().sum()

population         0
fertility          0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
dtype: int64

In [10]:
X = df.drop(["life"], 1)
y = df["life"]

In [13]:
from sklearn.model_selection import train_test_split as tts

In [14]:
X_train, X_test, y_train, y_test = tts(X,y,random_state = 42, test_size = 0.25)

In [15]:
X.shape

(139, 8)

In [16]:
X_train.shape

(104, 8)

In [43]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=3, metric = "euclidean")

In [44]:
knn

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='euclidean',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [45]:
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [46]:
from sklearn.metrics import mean_squared_error, r2_score

In [47]:
mean_squared_error(y_test, y_pred)

91.37514285714286

In [48]:
from sklearn.model_selection import cross_val_score, GridSearchCV

In [49]:
X_train, X_test, y_train, y_test = tts(X,y,random_state = 42, test_size = 0.25)
knn = KNeighborsRegressor(n_neighbors=3, metric = "euclidean")
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
mean_squared_error(y_test, y_pred)
r2_score(y_test,y_pred)

-0.43744596794367663

In [60]:
knn = KNeighborsRegressor(n_neighbors=30)

In [61]:
cross_val_score(knn, X,y, cv = 20)

array([-0.46229555, -0.76656896, -0.02936515, -0.03846855,  0.17955294,
       -0.2199345 ,  0.29693339, -0.25227367, -0.99394715, -0.16263036,
       -0.16870594, -0.07440793, -0.02136501, -0.01907751, -0.84192407,
       -0.12111305, -0.16698135,  0.04321103, -0.06587798,  0.10506393])

In [76]:
params = {"n_neighbors":[2,3,4,5,6,7], 
         "metric":["euclidean", "cosine", "jaccard", "manhattan", "minkowski"]}

In [77]:
params

{'n_neighbors': [2, 3, 4, 5, 6, 7],
 'metric': ['euclidean', 'cosine', 'jaccard', 'manhattan', 'minkowski']}

In [78]:
knn = KNeighborsRegressor()

In [79]:
knn_cv = GridSearchCV(estimator=knn, param_grid=params, cv = 10)

In [80]:
knn_cv.fit(X,y)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                           metric='minkowski',
                                           metric_params=None, n_jobs=None,
                                           n_neighbors=5, p=2,
                                           weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'metric': ['euclidean', 'cosine', 'jaccard',
                                    'manhattan', 'minkowski'],
                         'n_neighbors': [2, 3, 4, 5, 6, 7]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [81]:
knn_cv.best_params_

{'metric': 'cosine', 'n_neighbors': 6}

In [82]:
knn_cv.best_score_

0.10227550328955094

In [83]:
knn_cv.best_estimator_

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='cosine',
                    metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                    weights='uniform')

In [84]:
import os

In [85]:
os.getcwd()

'/Users/Arunabh/Desktop/untitled folder'