In [51]:
import pandas as pd
df = pd.read_csv("gapminder (1).csv")

In [52]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5,Middle East & North Africa
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4,America
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0,Europe & Central Asia
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2,East Asia & Pacific

In [53]:
df1 = df.copy()

In [54]:
df.drop(["Region"],1, inplace=True)

In [55]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality
0,34811059,2.73,0.1,3.328945,24.59620,12314,129.9049,75.3,29.5
1,19842251,6.43,2.0,1.474353,22.25083,7103,130.1247,58.3,192.0
2,40381860,2.24,0.5,4.785170,27.50170,14646,118.8915,75.5,15.4
3,2975029,1.40,0.1,1.804106,25.35542,7383,132.8108,72.5,20.0
4,21370348,1.96,0.1,18.016313,27.56373,41312,117.3755,81.5,5.2

In [56]:
df = df[["fertility", "life", "child_mortality"]]

In [57]:
df = df[:10]

In [58]:
df

   fertility  life  child_mortality
0       2.73  75.3             29.5
1       6.43  58.3            192.0
2       2.24  75.5             15.4
3       1.40  72.5             20.0
4       1.96  81.5              5.2
5       1.41  80.4              4.6
6       1.99  70.6             43.3
7       1.89  72.2             14.5
8       2.38  68.4             55.9
9       1.83  75.3             15.4

In [ ]:
#10th = (1.62, 75.6)

In [10]:
from scipy.spatial.distance import euclidean

In [13]:
point_0 = df.iloc[0][:2]

In [15]:
point_1 = df.iloc[1][:2]

In [16]:
euclidean(point_0,point_1)

17.397988389466178

In [24]:
point_0 = point_0.tolist()

In [25]:
point_1 = point_1.tolist()

In [26]:
euclidean(point_0,point_1)

17.397988389466178

In [39]:
poi = [1.62, 75.6]

In [43]:
distances = []
for x in range(df.shape[0]):
    point = df.iloc[x][:2].tolist()
    distances.append(euclidean(poi, point))

In [46]:
df["distances"] = distances

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
df

   fertility  life  child_mortality  distances
0       2.73  75.3             29.5   1.149826
1       6.43  58.3            192.0  17.956227
2       2.24  75.5             15.4   0.628013
3       1.40  72.5             20.0   3.107797
4       1.96  81.5              5.2   5.909788
5       1.41  80.4              4.6   4.804592
6       1.99  70.6             43.3   5.013671
7       1.89  72.2             14.5   3.410704
8       2.38  68.4             55.9   7.240000
9       1.83  75.3             15.4   0.366197

In [59]:
df

   fertility  life  child_mortality
0       2.73  75.3             29.5
1       6.43  58.3            192.0
2       2.24  75.5             15.4
3       1.40  72.5             20.0
4       1.96  81.5              5.2
5       1.41  80.4              4.6
6       1.99  70.6             43.3
7       1.89  72.2             14.5
8       2.38  68.4             55.9
9       1.83  75.3             15.4

In [60]:
#10th = [1.62, 75.6]

In [65]:
df.iloc[2][:2].tolist()

[2.24, 75.5]

In [66]:
poi = [1.62, 75.6]

In [67]:
euclidean(poi,df.iloc[2][:2].tolist() )

0.6280127387243025

In [71]:
distances = []
for x in range(df.shape[0]):
    distances.append(euclidean(poi, df.iloc[x][:2].tolist()))

In [72]:
distances

[1.1498260738042072,
 17.956227332042772,
 0.6280127387243025,
 3.1077966471440766,
 5.909788490293038,
 4.804591553920074,
 5.013671309529575,
 3.4107037396994686,
 7.239999999999989,
 0.3661966684720087]

In [73]:
df["distances"] = distances

In [74]:
df

   fertility  life  child_mortality  distances
0       2.73  75.3             29.5   1.149826
1       6.43  58.3            192.0  17.956227
2       2.24  75.5             15.4   0.628013
3       1.40  72.5             20.0   3.107797
4       1.96  81.5              5.2   5.909788
5       1.41  80.4              4.6   4.804592
6       1.99  70.6             43.3   5.013671
7       1.89  72.2             14.5   3.410704
8       2.38  68.4             55.9   7.240000
9       1.83  75.3             15.4   0.366197

In [76]:
df.sort_values(["distances"])

   fertility  life  child_mortality  distances
9       1.83  75.3             15.4   0.366197
2       2.24  75.5             15.4   0.628013
0       2.73  75.3             29.5   1.149826
3       1.40  72.5             20.0   3.107797
7       1.89  72.2             14.5   3.410704
5       1.41  80.4              4.6   4.804592
6       1.99  70.6             43.3   5.013671
4       1.96  81.5              5.2   5.909788
8       2.38  68.4             55.9   7.240000
1       6.43  58.3            192.0  17.956227

In [79]:
30.8+29.5

60.3

In [80]:
60.3/3

20.099999999999998

In [83]:
df.drop(["distances"],1, inplace=True)

In [85]:
df

   fertility  life  child_mortality
0       2.73  75.3             29.5
1       6.43  58.3            192.0
2       2.24  75.5             15.4
3       1.40  72.5             20.0
4       1.96  81.5              5.2
5       1.41  80.4              4.6
6       1.99  70.6             43.3
7       1.89  72.2             14.5
8       2.38  68.4             55.9
9       1.83  75.3             15.4

In [87]:
X = df.drop(["child_mortality"],1)

In [89]:
y = df["child_mortality"]

In [90]:
from sklearn.neighbors import KNeighborsRegressor

In [92]:
knn = KNeighborsRegressor(n_neighbors=3, metric="euclidean")

In [93]:
knn.fit(X,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='euclidean',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [94]:
X_test = poi

In [104]:
poi = pd.DataFrame(poi).T

In [105]:
X_test = poi

In [107]:
X_test.columns = ["fertility", "life"]

In [108]:
X_test

   fertility  life
0       1.62  75.6

In [109]:
knn.predict(X_test)

array([20.1])

In [111]:
df

   fertility  life  child_mortality
0       2.73  75.3             29.5
1       6.43  58.3            192.0
2       2.24  75.5             15.4
3       1.40  72.5             20.0
4       1.96  81.5              5.2
5       1.41  80.4              4.6
6       1.99  70.6             43.3
7       1.89  72.2             14.5
8       2.38  68.4             55.9
9       1.83  75.3             15.4

In [112]:
X = df.drop(["child_mortality"],1)

In [113]:
y = df["child_mortality"]

In [116]:
from sklearn.model_selection import train_test_split as tts

In [123]:
X_train, X_test, y_train, y_test = tts(X,y, test_size = 0.25, random_state = 42)

In [126]:
y_test

8     55.9
1    192.0
5      4.6
Name: child_mortality, dtype: float64

In [127]:
knn = KNeighborsRegressor(n_neighbors=3)

In [128]:
knn

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [129]:
knn.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [130]:
y_pred = knn.predict(X_test)

In [131]:
y_test

8     55.9
1    192.0
5      4.6
Name: child_mortality, dtype: float64

In [132]:
y_pred

array([25.93333333, 25.93333333, 12.        ])

In [133]:
from sklearn.metrics import r2_score, accuracy_score, classification_report, confusion_matrix

In [134]:
r2_score(y_test, y_pred)

-0.5210081709038767